{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load account %}


{% block title %}Change password | DQA{% endblock title %}

{% block content %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class='text-center'>
        	{% if token_fail %}
        		<h2>Bad Token</h2>
        	{% else %}
            	<h2>Change Password</h2>
            {% endif %}
        </div>

        {% if token_fail %}
        	<p class='text-center mt-3'>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
        {% else %}
        	{% if form %}
        		<form method="post">{% csrf_token %}
		            {{ form|crispy }}
		            <div class="d-flex justify-content-center">
		                <button class="btn btn-outline-primary me-2" type="submit">Change Password</button>
		            </div>
		        </form>
        	{% else %}
        		<p class='text-center mt-3'>Your password is now changed.</p>
        	{% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}
