{% extends '_base.html' %}

{% load account %}


{% block title %}Password Reset | DQA{% endblock title %}

{% block content %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class='text-center'>
            <h2>Password Reset</h2>
        </div>

        <p class='text-center mt-3'>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

        {% if user.is_authenticated %}
            <p class='text-center mt-3'><b>Note:</b> you are already logged in as {{ user.username }}.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
