{% extends '_base.html' %}


{% block title %}{{ poll.title }} | DPA{% endblock title %}

{% block content %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class='text-center mb-4'>
            <div class="d-flex justify-content-center align-items-center">
                <h2 class="mb-3">{{ poll.title }}</h2>
                <div class="ms-2 badge bg-{{ poll.get_status_badge_type }} bg-gradient mb-2">{{ poll.get_status_display }}</div>
            </div>
            <p>{{ poll.description }}</p>
            {% if poll.status == poll.Status.DRAFT %}
                <a class="btn btn-outline-success mx-1" href="#">Submit</a>
            {% endif %}
            <a class="btn btn-outline-info mx-1" href="{% url 'polls:edit' poll.slug %}">Edit</a>
            <a class="btn btn-outline-danger mx-1" href="{% url 'polls:delete' poll.slug %}">Delete</a>
        </div>
    </div>
</div>
<div class="col-xl-6 offset-xl-3">
    <div class="list-group text-center">
        {% for poll_item in poll.items.all %}
            <a href="#" class="list-group-item list-group-item-action mb-2 shadow-sm">
                {{ poll_item.question }}
            </a>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a class="btn btn-outline-success" href="{% url 'polls:item_create' poll.slug %}">Add Item</a>
    </div>
</div>
{% endblock content %}
