{% extends '_base.html' %}

{% load static %}


{% block title %}Django Quiz App{% endblock title %}

{% block content %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class="text-center">
            <h2 class="fw-bolder mb-5">Welcome to Django Quiz App!</h2>
            <p class="lead fw-normal text-muted mb-5">
            	...yet another quiz app on Django, I should say...<br>
            </p>
            <a href="https://github.com/DirectDuck/django_quiz_app" target="_blank">
        		<img src="{% static 'pages/assets/github_mark.png' %}"><img src="{% static 'pages/assets/github.png' %}">
        	</a>
        </div>
    </div>
</div>
{% endblock content %}
