{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load sorting_tags %}


{% block title %}Quizzes List | DQA{% endblock title %}

{% block content %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class='text-center mb-3'>
            <h2 class="mb-3">Quizzes List</h2>
            <p>Here's what you have created so far</p>
            <a class="btn btn-outline-success mt-2 mb-3" href="{% url 'quizzes:create' %}">Create</a>
            <div class="fs-5" style="color: #9c9c9c;">
                {% sort_link "Title" "title" %}
                &middot;
                {% sort_link "Created" "created" %}
                &middot;
                {% sort_link "Completions" "completions" %}
            </div>
        </div>
        <form method="get" class="mb-4 offset-xl-4 col-xl-4" id="filter_form">
            {{ quizzes_filter.form|crispy }}
        </form>
    </div>
</div>
<div class="row gx-5">
    {% for quiz in quizzes_filter.qs %}
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-1">
            <div class="card-body p-4">
                <div class="badge bg-{{ quiz.get_status_badge_type }} bg-gradient mb-2">{{ quiz.get_status_display }}</div>
                <a class="text-decoration-none link-dark stretched-link" href="{% url 'quizzes:detail' quiz.slug %}"><h5 class="card-title mb-3">{{ quiz.title }}</h5></a>
                <p class="card-text mb-0">{{ quiz.description }}</p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="small">
                            <div class="fw-bold">{{ quiz.author.username }}</div>
                            <div class="text-muted">{{ quiz.items.count }} questions &middot; {{ quiz.completions }} completions</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-center">Nothing here just yet...</p>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_status').bind('change', function(event) {
            $('#filter_form').trigger("submit");
        });
    });
</script>
{% endblock js %}
